In [3]:
import pandas as pd
df=pd.read_csv("tt2.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,Braund Mr. Owen Harris,3,male,22.0,1,0,21171,7.2500,NaN,S,0
1,2,Cumings Mrs. John Bradley,1,female,38.0,1,0,17599,71.2833,C85,C,1
2,3,Heikkinen Miss. Laina,3,female,26.0,0,0,3101282,7.9250,NaN,S,1
3,4,Futrelle Mrs. Jacques Heath,1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,Allen Mr. William Henry,3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [16]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [6]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [17]:
inputs

    Pclass     Sex   Age     Fare
0        3    male  22.0   7.2500
1        1  female  38.0  71.2833
2        3  female  26.0   7.9250
3        1  female  35.0  53.1000
4        3    male  35.0   8.0500
5        3    male   NaN   8.4583
6        1    male  54.0  51.8625
7        3    male   2.0  21.0750
8        3  female  27.0  11.1333
9        2  female  14.0  30.0708
10       3  female   4.0  16.7000
11       1  female  58.0  26.5500
12       3    male  20.0   8.0500
13       3    male  39.0  31.2750
14       3  female  14.0   7.8542
15       2  female  55.0  16.0000
16       3    male   2.0  29.1250
17       2    male   NaN  13.0000
18       3  female  31.0  18.0000
19       3  female   NaN   7.2250
20       2    male  35.0  26.0000

In [18]:
dummies = pd.get_dummies(inputs['Sex'], dtype=int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [19]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [20]:
inputs = inputs.drop('Sex', axis='columns')
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [23]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [24]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [25]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [26]:
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [30]:
len(X_train)

16

In [31]:
len(X_test)

5

In [32]:
len(inputs)

21

In [33]:
len(target)

21

In [34]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [36]:
model.fit(X_train,y_train)

GaussianNB()

In [37]:
model.score(X_test,y_test)

0.8

In [39]:
X_test[:10]

    Pclass        Age     Fare  female  male
15       2  55.000000  16.0000       1     0
12       3  20.000000   8.0500       0     1
17       2  28.388889  13.0000       0     1
19       3  28.388889   7.2250       1     0
14       3  14.000000   7.8542       1     0