In [37]:
import pandas as pd
df=pd.read_csv('titanic.csv')

In [38]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
inputs = df.drop('Survived', axis=1)
target = df['Survived']

target

In [40]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
inputs

In [ ]:
inputs2 = df.drop(
    ['Name', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
    axis=1
)

In [ ]:
inputs2

In [ ]:
inputs2.head()

In [ ]:
from  sklearn.preprocessing import LabelEncoder
le_sex=LabelEncoder()

In [ ]:
inputs2['sex2']=le_sex.fit_transform(inputs['Sex'])

In [ ]:
inputs2

In [ ]:
inputs2 = inputs2.drop('Sex',axis=1)

In [ ]:
inputs2

In [ ]:
inputs2=inputs2.drop('Survived',axis=1)

In [ ]:
inputs2

In [ ]:
target.head()

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs2,target)

In [ ]:
model.score(inputs2,target)

In [ ]:
model.predict([[2,1,38,0]])